{% extends "page_template.html" %}
{% block contents %}

<div class="content">

    <section class="places">

        {% if user.phone == current_user.phone or current_user.role == 'Admin' %}
            <div class="card w-50">
                <div class="card-body">
                    {% if current_user.role == 'Admin' and user.phone != current_user.phone %}
                        <h5 class="card-title">{{ user.name }}'s Account</h5>
                    {% elif user.phone == current_user.phone %}
                        <h5 class="card-title">My Profile</h5>
                    {% endif %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>Name:</b> {{ user.name }}</li>
                        <li class="list-group-item"><b>Email:</b> {{ user.email }}</li>
                        <li class="list-group-item"><b>Phone:</b> {{ user.phone }}</li>
                        <li class="list-group-item"><b>Role:</b> {{ user.role }}</li>
                    </ul>
                    <div class="form-group row">
                        <div class="col-sm-9">
                            <a role="button" href="{{ url_for('users.user', user_id=user.id) }}" class="btn btn-outline-warning btn-sm mt-3 pb-0">Edit Profile</a>
                        </div>
                        <div class="col-sm-2">
                            {% if current_user.role == 'Admin' %}
                                <a role="button" class="btn btn-danger btn-sm mt-3 pb-0" data-toggle="modal" data-target="#deleteUserModal">Delete User</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
              </div>
        {% endif %}

        
        

    </section>

</div>

















    <!-- Delete Budget -->
    <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Delete User?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                    <form action="{{ url_for('users.delete_user', user_id=user.id) }}" method="post">
                        <input class="btn btn-danger btn-sm" type="submit" value="Delete">
                    </form>
            </div>
          </div>
        </div>
      </div>

{% endblock contents %}