
{% extends "page_template.html" %}
{% block contents %}

    <div class="content">

        <section class="places">

            <div style="float: left;">
                <h1>Transactions</h1>
            </div>

            <div style="overflow: hidden; float: right;">
                <a href="{{ url_for('payments.payment_request') }}" style="text-decoration: none;"><button type="button" class="btn btn-outline-info mt-3 pb-0">Make Payment</button></a>
            </div>



            <table id="transactions_table" class="display" style="width:100%">
                <thead style="background: #055041; color: #FFFFFF">
                    <th class="text-center" style="padding: 5px;">Status</th>
                    <th class="text-center" style="padding: 5px;">Amount</th>
                    <th class="text-center" style="padding: 5px;">Date</th>
                    <th class="text-center" style="padding: 5px;">Mpesa Ref</th>
                    <th class="text-center" style="padding: 5px;">Budget</th>
                    <th class="text-center" style="padding: 5px;">File/Client</th>
                    <th class="text-center" style="padding: 5px;">User</th>
                    <th class="text-center" style="padding: 5px;">Desc.</th>
                </thead>
                <tbody>
                    
                    {% if transactions %}
                    
                        {% for transaction in transactions %}
                            <tr class="transactions_row">
                                {% if transaction['status'] == '0' %}
                                    <td class="text-center" style="padding: 5px;"> <div style="padding: 0; margin: 1px auto;" class="alert alert alert-success alert-heading" role="alert"> Success </div> </td>
                                {% endif %}
                                <td class="text-center" style="padding: 5px;">{{ transaction['amount'] }}</td>
                                <td class="text-center" style="padding: 5px;">{{ transaction['trans_date'] }}</td>
                                <td class="text-center" style="padding: 5px;">{{ transaction.mpesa_ref }}</td>
                                <td class="text-center" style="padding: 5px;">{{ transaction.budget_id.bdgt_name }}</td>
                                <td class="text-center" style="padding: 5px;">{{ transaction.file_no.file_name }}</td>
                                <td class="text-center" style="padding: 5px;">{{ transaction.phone.name }}</td>
                                <td class="text-center" style="padding: 5px;">{{ transaction['narration'] }}</td>
                            </tr>
                        {% endfor %}
                    
                    {% endif %}
                    
                </tbody>
            </table>




        </section>

    </div>
























    









{% endblock contents %}











